//CSS vars
// can´t use vars because of IE
// :root {
// 	--base-font: 62.5%;
// 	--default-font: ;
// 	--fw-bold: 700;
// 	--black: #000;
// 	--white: #fff;
// 	--selection: #f60;
// 	--spacing: 1rem;
// }

// should use these variables in order to work in every browser


$base-font: 62.5%;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$default-font: 'Raleway';

//colors
$white: #fff;
$black: #000;
$blue-600: #164467;
$blue-300: #81b8c9;
$gray-200: #f3f3f4;
$red-600: #c8161c;
$green-300: #25d366	;


//breakpoint vars
$extra-small: 22.5em; //360px
$small: 36em; //576px
$medium: 48em; //768px
$large: 64em; //1024px
$extra-large: 75em; //1200px
$wide: 90em; //1440px
$extra-wide: 100em; //1600px

//breakpoints
$breakpoints: ( //types
	'extra-small': $extra-small,
	'small': $small,
	'medium': $medium,
	'large': $large,
	'extra-large': $extra-large,
	'wide': $wide,
	'extra-wide': $extra-wide,
	//finish types
);

// Caching current breakpoint
// Not meant to be manually edited
$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;

//z-index
$z-index: ( //values
	'pothole': -1,
	'basement': 0,
	'sidewalk': 1,
	'bungalow': 40,
	'bungalow-chimney': 50,
	'house': 60,
	'tower': 70,
	'skyscrapper': 80,
	'sky': 90,
	'satellite': 100,
	//finish z-index
);
