// abstract
@import '@/styles/abstracts/_variables.scss';
@import '@/styles/abstracts/_functions.scss';
@import '@/styles/abstracts/_mixins.scss';
@import '@/styles/abstracts/_placeholders.scss';


.footer {
	width: 100%;
	background-color: $blue-600;
	padding-top: 2rem;
	padding-bottom: 2rem;
	transition: .3s;

	&Wrap {
		@extend %grid;
		@include size(100%);
		@extend %flex-column-center;
		row-gap: 3rem; // sass-lint:disable-line no-misspelled-properties
	}

	&List {
		@include size(100%);
		@extend %flex-column-center;

		a {
			padding: 1rem;
		}
	}
}

// typography

.footer {
	font-weight: $fw-regular;
	font-size: 1.4rem;
	color: $gray-200;

	&List {
		font-weight: $fw-medium;
	}
}
