// abstract
@import '@/styles/abstracts/_variables.scss';
@import '@/styles/abstracts/_functions.scss';
@import '@/styles/abstracts/_mixins.scss';
@import '@/styles/abstracts/_placeholders.scss';


.buttonLeadBox {
	width: 100%;
	min-height: 14rem;
	@extend %flex-center;
	row-gap: 1.4rem; // sass-lint:disable-line no-misspelled-properties
	padding: 2.4rem;
	background-color: $blue-300;
	@include border-radius(1.6rem);
	transition: .3s;

	&NoMinHeight {
		min-height: auto;
	}

	&WithArrowRight {
		display: flex;
		justify-content: space-between;

		h3 {
			max-width: 90%;
			text-align: left;
		}
	}
}


// typography

.buttonLeadBox {
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: $fw-bold;
	color: $blue-600;
	text-align: center;
}
