// abstract
@import '@/styles/abstracts/_variables.scss';
@import '@/styles/abstracts/_functions.scss';
@import '@/styles/abstracts/_mixins.scss';
@import '@/styles/abstracts/_placeholders.scss';


.section {
	width: 100%;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	transition: .3s;

	&Wrap {
		width: 100%;
		@extend %grid;

		.sectionNoGrid & {
			padding-left: 0;
			padding-right: 0;
		}

		.sectionFullHeight & {
			height: 100%;
		}
	}

	&FullHeight {
		height: 100%;
	}

	&NoPaddingTopAndBottom {
		padding-top: 0;
		padding-bottom: 0;
	}
}
