// abstract
@import '@/styles/abstracts/_variables.scss';
@import '@/styles/abstracts/_functions.scss';
@import '@/styles/abstracts/_mixins.scss';
@import '@/styles/abstracts/_placeholders.scss';



.slider {
	width: 100%;

	>:global(.swiper-container) {
		padding-left: 5%;

		@include bp('medium') {
			padding-left: 10%;
		}

		@include bp('extra-large') {
			padding-left: 30%;
		}
	}
}
