// abstract
@import '@/styles/abstracts/_variables.scss';
@import '@/styles/abstracts/_functions.scss';
@import '@/styles/abstracts/_mixins.scss';
@import '@/styles/abstracts/_placeholders.scss';



.text {
	width: 100%;
	display: flex;
	flex-direction: column;
	//row-gap: 2.4rem; // sass-lint:disable-line no-misspelled-properties

	p {
		margin-bottom: .8rem;
		flex: 1;
	}



	ul {
		margin-bottom: 2rem;

		li {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 1rem;

			&::before {
				content: '';
				@include size(.6rem);
				@include border-radius(50%);
				background-color: $blue-600;
				display: inline-block;
				margin-right: 1.2rem;
				margin-top: 1.1rem;
				flex-shrink: 0;
			}

			ul {
				width: 100%;
				padding-left: 2rem;

				li {
					&::before {
						background-color: $blue-300;
					}
				}
			}
		}
	}

	ol {
		list-style: none;
		counter-reset: li;

		li {
			counter-increment: li;
			margin-bottom: 1rem;

			&::before {
				content: counter(li);
				color: $blue-600;
				;
				display: inline-block;
				width: 1.5rem;
				margin-right: 1.5rem;
			}
		}
	}
}

// typography
.text {
	font-weight: $fw-medium;
	font-size: 1.6rem;
	line-height: line-height(28, 16);
	color: $blue-600;

	a {
		font-weight: $fw-bold;
	}
}
