// abstract
@import '@/styles/abstracts/_variables.scss';
@import '@/styles/abstracts/_functions.scss';
@import '@/styles/abstracts/_mixins.scss';
@import '@/styles/abstracts/_placeholders.scss';

.button {
	background-color: $blue-600;
	padding: 2rem 4rem;
	@include border-radius(.5rem);
}


.button {
	color: $white;
	font-weight: $fw-semibold;
	font-size: 1.8rem;
}
