// abstract
@import '@/styles/abstracts/_variables.scss';
@import '@/styles/abstracts/_functions.scss';
@import '@/styles/abstracts/_mixins.scss';
@import '@/styles/abstracts/_placeholders.scss';


.ctaAside {
	&Button {
		@include size(4.6rem);
		@extend %flex-center;
		@include border-radius(100%);
		position: fixed;
		bottom: 3.2rem;
		right: 3.2rem;
		flex-shrink: 0;
		background-color: $red-600;
		z-index: z-index('sidewalk');
	}

	&Modal {
		position: fixed;
		right: 0;
		transform: scale(0);
		transform-origin: right bottom;
		pointer-events: none;
		overflow: auto;
		transition: .4s;

		.ctaAsideModalOpen & {
			display: block;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $blue-600;
			pointer-events: visible;
			z-index: z-index('bungalow-chimney');
			transform: scale(1);
		}

		&Open {
			width: 100%;
		}
	}
}

.modalContent {
	@include size(100%);
	@extend %flex-column;
	margin-top: 3.2rem;
	align-items: center;
	row-gap: 1.6rem; // sass-lint:disable-line no-misspelled-properties

	&>:first-child {
		margin-bottom: 2.6rem;
	}

	&>:nth-child(2) {
		margin-bottom: 3.2rem;
	}

	&>:last-child {
		margin-top: auto;
	}
}



// typography
.modalContent {
	font-weight: $fw-medium;
	font-size: 1.6rem;
	line-height: line-height(24, 16);
	color: $white;
	text-align: center;

	&>:first-child {
		font-weight: $fw-regular;
		font-size: 1.4rem;
	}

	&>:nth-child(2) {
		font-weight: $fw-semibold;
	}

	&>:nth-child(3) {
		font-weight: $fw-bold;
		//font-size: 1.4rem;
	}

	&>:last-child {
		font-weight: $fw-regular;
		font-size: 1.2rem;
	}
}
